.board-wrapper {
  width: 75vw;
  margin-bottom: 50px;
}

table {
  width: stretch;
  border-spacing: 1px;
  font-size: 0.75em;

  thead {
    tr {
      th {
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.1em;
      }
    }
  }

  tr {
    background-color: rgba(240, 240, 240, 1);

    &:hover {
      background-color: rgba(240, 240, 240, 0.75);
      transition: 0.5s ease;
    }

    th,
    td {
      padding: 5px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:focus,
      &:focus-within {
        outline: none;

        .column-modal-container {
          display: flex;
        }
      }
    }

    &.selected {

      th,
      td {}
    }
  }
}

.left-align {
  text-align: left;
  padding: 0 15px;
  font-weight: 700;
}

.input-row {
  width: 100%;
  text-align: left;
  padding: 5px;
}

.add-row-input {
  width: stretch;
  padding: 16px;

  &:focus {
    outline: none;
  }
}

.add-row-input {
  width: stretch;
  padding: 16px;
  background-color: white;
  border: 1px solid #f0f0f0;
  margin-top: 1px;
}
